body{
    margin:0px;
    padding:0px;
    background-color:#313652;
}

.container{
    box-sizing: border-box;
    height: 30rem;
    width: 20rem;
    padding: 2em;
    border-radius: 1rem;
    background-image: url(./background.jpg);
    background-size:cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color:white;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
    text-align: center;
    box-shadow: 0rem 0rem 3rem #3b4161;
}


.message{
    text-shadow: none;
    color: rgb(65, 65, 65);
}

.off{
    display:none;
}

.error{
    text-shadow:none;
    color:red;
}

.temperature{
    display:none;
}

.description{
    display: none;
}

.city{
    display:none;
}

.active .temperature{
    height:6rem;
    width:100%;
    display:grid;
    grid-template-columns: 70% 30%;
}

.active .magnitude{
    font-size: 6rem;
    padding:0px;
    text-align: right;
    grid-row:1/3;
}
.active .units{
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active .description{
    display: block;
    font-size:1.7rem;
    padding-top: 1em;
}

.active .city{
    display: block;
}

.passive{
    opacity: 0.2;
}

input{
    box-sizing:border-box;
    width:100%;
    margin: 1rem 0rem;
    height: 2.5rem;
    opacity: 0.4;
}